*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
body,html,div,h1,h2,h3,h4,h5,h6,p,li{
    margin: 0;
    padding: 0;
}
.footer{
    width: 100%;
    height: 409px;
    background-color: #262626;
    /* position: fixed; */
    bottom: 0;
}
.footer-top{
    height: 80px;
    margin: 0 auto;
    background-color: #EEEEEE;
    padding: 24px 0;
}
.top-content,.cen-content,.footer-bot{
    width: 1200px;
    margin: 0 auto;
}
.footer-top .top-pro{
    width: 158px;
    height: 32px;
    margin-right: 10px;
    font-size: 12px;
    float: left;
}
#top-pro1{
    width: 170px;
    height: 32px;
    margin-left: 30px;
    
}
#top-pro2{
    width: 130px;
    height: 32px;
    margin-left: 10px;
}
#top-pro1 span{
    color: #121212;
    font-weight: bold;
}
#top-pro2 span{
    color: #121212;
    font-weight: bold;
}
.top-content .top-pro  .f-icon{
    width: 32px;
    height: 32px;
    float: left;
}
.top-content{
    height: 32px;
}
.f-icon {
    background: url(../images/footer_new_icon.png) no-repeat;
    display: inline-block;
}
.f-icon-qi {
    background-position: 0 0;
}
.top-pro span{
    font-size: 18px;
    color: #888895;
    line-height: 32px;
    margin-left: 10px;
}
.f-icon-zheng {
    background-position: -34px 0;
}
.f-icon-hao {
    background-position: -68px 0;
}
.f-icon-shan {
    background-position: -102px 0;
}
.f-icon-quan {
    background-position: -136px 0;
}
.f-icon-tel {
    background-position: -3px -98px;
}
.f-icon-kefu {
    
    background-position: -3px -132px;
}
.cen-content{
    height: 240px;
    padding: 30px ;
}
.footer-cen{
    height: 192px;
}
.cen-text{
    width: 167px;
    float: left;
    color: #fff;
}
.cen-text p{
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
}
.cen-text li{
    font-size: 14px;
    padding: 5px 0;
    color: #CCCCCC;
}
.cen-text li:hover{
    color: #F42424;
}
.cen-ewm{
    width: 104px;
    height: 120px;
    float: left;
    margin-top: 20px;
    margin-left: 48px;
    border: 2px solid #fff;
}
.cen-ewm img{
    width: 104px;
    height: 104px;
}
.cen-ewm p{
    background-color: #121212;
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin-top: -5px;
}
.footer-bot{
    height: 38px;
    padding: 30px 0;
    margin-top: 20px;
    border-top: 1px solid #464646;
}
.footer-bot p{
    width: 1200px;
    height: 17px;
    margin-top: 20px;
    line-height: 32px;
    display: flex;
    justify-content: center; 
}
.footer-bot a{
    text-decoration: none;
    color: #888;
    font-size: 12px;
    margin-top: -8px;
}
.footer-bot span{
    width: 1px;
    height:18px;
    margin: 0 17px;
    background-color: #444;
}
.footer-bot a:hover{
    color: #F42424;
}