input[type="checkbox"]{
    display: none
}

label{
    width: 14px;
    height: 14px;
    background: url(../images/check.png) no-repeat;
    display: inline-block;
    margin-top: 7px;
    margin-left: 10px;
}
label.active{
    background: url(../images/checked.png) no-repeat;
}
.cart-wrap{
    width: 100%;
    position: relative;
    min-height: 640px;
    background-color: #F8F8F8;
}
.cart-nav,.cart-header,.cart-footer ul li{
    color: #8c8c8c;
    font-size: 14px;
}
/* 导航栏 */
.nav{
    width: 100%;
    height: 100px;
    /* background-color: #fff; */
    border-bottom: 2px solid #f42424;
}
.nav-main{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-main .main-left{
    width: 290px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* line-height: 100px; */
    /* background-color: #f42424; */
}
.nav-main .main-left img{
    margin-top: 24px;
}
.nav-main .main-left p{
    line-height: 100px;
    color: #848484;
}
.nav-main .main-right{
    width: 400px;
    height: 100px;
    line-height: 100px;
}
.main-right-search{
    width: 420px;
    height: 34px;
    line-height: 34px;
}
.main-right-search .search-sou{
    padding: 9px 8px;
    width: 332px;
    height: 14px;
    border: 1px solid #f42424;
    font-size: 12px;
    color: #999;
    position: relative;
    top: 30px;
}
.main-right-search .search-btn{
    border: 0;
    width: 50px;
    height: 34px;
    line-height: 34px;
    background-color: #f42424;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: 0;
    position: absolute;
    top: 61px;
} 
.search-btn img{
    margin-top: 7px;
}
/* 购买流程 */
.cart-nav{
    width:1200px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    /* color: #444; */
}
.mycart{
    width: 200px;
    float: left;
    font-size: 14px;
    line-height: 50px;
}
.cart-mas,.cart-suc{
    width: 180px;
    float: left;
    font-size: 14px;
    line-height: 50px;
}
.mycart span{
    width: 126px;
    height: 36px;
    padding: 8px 20px;
    background-color: #ff8f23;
    border-radius: 18px;
    color: #fff;
    text-align: center;
}
.mycart i{
    color:#ff8f23;
}
.cart-nav i{
    font-size: 20px;
    margin-left: 25px;
}
.cart-send{
    width: 210px;
    height: 50px;
    float: right;
}
/* 地址 */
.address{
    border: 1px solid #d2d2d2;
    width: 155px;
    float: left;
    position: relative;
    bottom: 36px;
    left: 50px;
    font-size: 12px;
    background-color: #fff;
}
#ff{
    font-size: 12px;
    color: #8c8c8c;
    margin: 0;
}
 .top{ 
    padding: 0 10px;
    height: 23px;
    line-height: 23px;
    cursor: pointer;
    float: left;
    position: relative;
    z-index:13;
    border-bottom:2px solid #fff;
}
 .address .juti-add{
    position: absolute;
    border: 1px solid #d2d2d2;
    width: 225px;
    padding: 10px 23px 15px 18px;
    top: 24px;
    left: -1px;
    z-index: 10;
    display: none;
    background: #fff;
}
 .address .iconfont{
    vertical-align: middle;
}
.juti-add .city-title{
    border-bottom: 1px solid #d2d2d2;
    float: left;
    width: 100%;
    padding-left: 1px;
    height: 24px;
}
.city-title .city1{
    min-width: 36px;
    float: left;
    padding: 0 10px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #d2d2d2;
    border-bottom: 0;
    margin-left: -1px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.city-title .active{
    border-bottom: 1px solid #fff;
    border-top: 2px solid #f42424;
    height: 22px;
    color: #f42424;
}
.juti-add .tab-content{
    float: left;
    width: 100%;
    margin-top: 15px;
    padding-left: 10px;
}
.juti-add .tab-content ul{
    display: none;
}
.juti-add .tab-content .active{
    display: block;
}
.juti-add .tab-content li{
    float: left;
    width: 70px;
    line-height: 18px;
    margin: 0 5px 5px 0;
}
.juti-add .tishi{
    float: left;
    width: 280px;
    margin: 5px 0 0 5px;
    color: #f42424;
}
/* 购物车头部 */
.cart-header{
    width:1200px;
    height: 50px;
    margin: 0 auto;
    background-color: #fff;
    line-height: 30px;
}
.cart-header .cart-lists .cart-check span{
    padding-left: 10px;
}
.cart-lists{
    height: 110px;
    padding-top: 10px;
}
.cart-header .cart-lists li{
    float: left ;
    display: flex;
    line-height: 25px;
    justify-content: center;
    position: relative;
}
/* 购物车列表店铺 */
.cart-box .cart-lists li{
    float: left ;
    display: flex;
    line-height: 25px;
    justify-content: center;
    position: relative;
}

.cart-box .cart-content ul{
    padding-top: 30px;
}
.cart-box .cart-lists li{
    height: 110px;
}
.cart-header.cart-lists .cart-check{
    width: 80px;
}
.cart-box .cart-lists .cart-check{
    width: 60px;
}
.cart-lists .cart-content1{
    width: 500px;
}
.cart-lists .cart-con{
    width: 500px;
}
.cart-lists .cart-price{
    width: 160px;
}
.cart-lists .cart-amount{
    width: 190px;
}
.cart-lists .cart-sum{
    width: 190px;
}
.cart-lists .cart-option{
    width: 40px;
}
.cart-box{
    width: 1200px;
    margin: 0 auto;
}
.cart-box .shop-info{
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.cart-box .shop-info .all-check{
    width: 30px;
    height: 10px;
}
.cart-box .shop-info .shop-name a{
    /* text-align: left; */
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #f42424;
    border-radius: 10px;
    padding: 0 10px;
}
/* 购物车列表内容 */
.cart-content{
    height: 150px;
    background-color: #fff;
}
.cart-lists .cart-check{
    margin-left: 20px;
}

.cart-content .cart-img{
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;

}
.cart-content .cart-img img{
    width: 70px;
    height: 70px;
}
.cart-content  .cart-text{
    margin-left: 20px;
    height: 60px;
    line-height: 20px;
    /* 多行文本出现省略号 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.cart-price .price{
    font-size: 20px;
  
}
.cart-price .price::before{
    content: "￥";
}

.cart-sum .price-sum{
    font-size: 20px;
   
}
.cart-sum .price-sum::before{
    content: "￥";
}
.cart-amount .amount-box{
    width: 60px;
    height: 30px;
    position: relative;
    border: 1px solid #ccc;
    text-align: center;
}
.cart-amount .amount-box input{
    width: 30px;
    height: 30px;
    border: 0;
    border-right: 1px solid #ccc;
  
}
.cart-amount .amount-box button{
    width: 29px;
    height: 15px;
    position: absolute;
    left: 31px;
    border: 0;
}
.cart-amount .amount-box .reduce{
    top: 15px;
    border-top: 1px solid #cccccc;
}

.cart-dele{
    cursor: pointer;
}


/* 蒙版 */
.modal-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    display:none;
}
.modal-box{
    width: 360px;
    height: 200px;
    background: #fff;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -180px;
    display:none;
}
.modal-box h2{
    height: 40px;
    background: #efefef;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
}
.modal-box p{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    height: 80px;
}
.modal-box .btn{
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}
.modal-box .btn button{
    background-color: #f42424;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.modal-box .btn button:first-child{
    background-color: #ccc;
}
/* 购物车底部 */
.cart-footer{
    width: 1200px;
    height: 50px;
    margin: 20px auto;
    background-color: #fff;
}
.cart-footer ul li{
    float: left;
    line-height: 30px;
}
.cart-footer .cart-lists .cart-check{
    width:100px;
}
.cart-footer .cart-lists .cart-cont{
    width:140px;
}
.cart-footer .cart-lists .cart-move{
    width: 300px;
}
.cart-footer .cart-lists .cart-choice{
    width: 140px;
}
.cart-footer .cart-lists .cart-reduve{
    width: 140px;
}
.cart-footer .cart-lists .cart-pay{
    width: 200px;
}
.cart-footer .cart-lists .cart-paym{
    width: 160px;
    height: 50px;
    margin-top: -10px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 50px;
    background-color:#f42424;
}
.buy-num{
    color: #f42424;
}
.pay-price{
    font-size: 24px;
    color: #f42424;
    font-weight: 700;
}
/* 猜你喜欢 */
.hobby{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #F8F8F8;
}
.like{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
}
.like-tit{
    width: 1200px;
    height: 40px;
    /* background-color: #fff; */
}
/* 猜你喜欢 */
/* 猜你喜欢 */
.hobby{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #F8F8F8;
}
.like{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
}
.like-tit{
    width: 1200px;
    height: 40px;
    font-size: 21px;
    font-weight: 400;
    color: #555;
    /* background-color: #fff; */
    border-bottom:1.5px solid #E6E6E6;
    position: relative;
    top:0;
}
.like-tit-text{
    padding: 0 50px;
    background-color: #F8F8F8;
    position: absolute;
    top: 24px;
    left: 508px;
}
.like-goods{
    width: 1200px;
    height: 300px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}
.like-goods .like-good{
    width: 190px;
    height: 276px;
    /* background-color: pink; */
}
.like-good img{
    width: 190px;
    height: 190px;
}
.like-good-price{
    color: #f42424;
    font-size: 20px;
    margin-top: 7px;
}
.like-good-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    font-size: 12px;
    margin-top: 7px;
}
.like-good-sole{
    font-size: 12px;
    color: #8c8c8c;
    margin-top: 7px;
}