* {
    margin: 0;
    padding: 0;
}

.disable {
    width: 300px;
    height: 100%;
    background-color: #000000;
    position: fixed;
    right: -261px;
    bottom: 0;
    z-index: 999;
    box-sizing: content-box;
}

.disable-le-01 {
    width: 40px;
    height: 100%;
    float: left;
    box-sizing: content-box;
}

.disable-ri-01 {
    width: 260px;
    height: 100%;
    float: left;
    background-color: #ECEAEA;
    position: relative;
    box-sizing: content-box;
}

.disable-le-001 {
    width: 40px;
    height: 80%;
    margin: auto 0;
    margin-top: 100px;
    box-sizing: content-box;
}

.disable-le-001-i {
    width: 40px;
    height: 40px;
    background-color: #B31919;
    background: url("../images/jlt.png") no-repeat 10px 17px;
    position: relative;
    box-sizing: content-box;
}

.username {
    width: 240px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 0;
    left: -260px;
    display: none;
    padding: 10px;
    box-sizing: content-box;
}

.username-img {
    width: 120px;
    height: 120px;
    background: url(../images/touxiang.jpg) no-repeat;
    float: left;
    border-radius: 50%;
    box-sizing: content-box;
}

.username-text {
    height: 50px;
    font-size: 12px;
    float: left;
    margin-left: 5px;
    padding-top: 70px;
    box-sizing: content-box;
}

.username-x {
    width: 100%;
    border-top: 1px dashed #CCCCCC;
    margin-top: 20px;
    box-sizing: content-box;
}

.account-btn {
    width: 100%;
    height: 40px;
    background-color: #F42424;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 20px;
    box-sizing: content-box;
}

.username-btn {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    box-sizing: content-box;
}

.username-btn button {
    border: none;
    width: 80px;
    height: 30px;
    border-bottom: 2px solid #8C8C8C!important;
    font-size: 12px;
    box-sizing: content-box;
}

.disable-le-001-cart {
    width: 30px;
    height: 135px;
    padding: 10px 5px;
    margin-top: 10px;
    box-sizing: content-box;
}

.disable-le-001-somei ul {
    list-style: none;
}

.disable-le-001-top {
    width: 40px;
    height: 83px;
    position: absolute;
    bottom: 0;
    margin-top: 10px;
    padding-top: 16px;
    box-sizing: content-box;
}

.disable-ri-01-first {
    width: 100%;
    height: 35px;
    background: url("../images/jlt.png") no-repeat 10px -164px;
    position: relative;
    position: absolute;
    box-sizing: content-box;
    bottom: 0;
}

.disable-ri-01-second {
    width: 100%;
    height: 35px;
    margin-top: 30px;
    position: relative;
    box-sizing: content-box;
    display: none;
    background: url("../images/jlt.png") no-repeat 13px -192px;
}

.disable-le-001-somei ul li {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    box-sizing: content-box;
    position: relative;
}

.disable-le-001-somei ul li:first-child {
    background: url("../images/侧边栏小图标1.png");
    background-size: cover;
    box-sizing: content-box;
}

.disable-le-001-somei ul li:nth-child(2) {
    background: url("../images/jlt.png") no-repeat -24px 15px;
    box-sizing: content-box;
}

.disable-le-001-somei ul li:nth-child(3) {
    background: url("../images/jlt.png") no-repeat 10px -46px;
    box-sizing: content-box;
}

.disable-le-001-somei ul li:nth-child(4) {
    background: url("../images/jlt.png") no-repeat 10px -102px;
    box-sizing: content-box;
}

.disable-le-001-somei ul li:nth-child(5) {
    background: url("../images/侧边栏小图标2.png");
    box-sizing: content-box;
    background-size: cover;
}

.disable-le-001-somei ul li:nth-child(6) {
    background: url("../images/侧边栏小图标3.png");
    box-sizing: content-box;
    background-size: cover;
}

.disable-le-001-cart-first {
    width: 100%;
    height: 30px;
    background: url("../images/jlt.png") no-repeat 6px -27px;
    box-sizing: content-box;
}

.disable-le-001-cart-second {
    width: 78%;
    height: 70px;
    box-sizing: content-box;
    color: white;
    text-align: center;
    font-size: 12px;
    margin-left: 3px;
}

.disable-le-001-cart-three {
    width: 100%;
    height: 30px;
    text-align: center;
    box-sizing: content-box;
    color: white;
    background-color: red;
    line-height: 30px;
    border-radius: 50%;
}

.disable-le-001-somei-01 {
    width: 100px;
    height: 40px;
    background-color: black;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: -110px;
    position: relative;
    display: none;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}

.yd {
    width: 15px;
    height: 15px;
    background-color: black;
    position: absolute;
    right: -4px;
    box-sizing: content-box;
    top: 10px;
    transform: rotate(45deg)
}

.disable-ri-01-nav {
    width: 100%;
    height: 40px;
    box-sizing: content-box;
    background-color: #EFEFEF;
    padding: 5px 10px;
}

.disable-ri-01-nav-left {
    width: 100px;
    height: 30px;
    float: left;
    text-align: left;
    box-sizing: content-box;
    font-size: 16px;
    line-height: 35px;
}

.disable-ri-01-nav-right {
    width: 30px;
    height: 30px;
    background-color: #B31919;
    box-sizing: content-box;
    float: left;
    margin-left: 110px;
    background: url("../images/jlt.png") no-repeat 6px -265px;
}

.disable-ri-01-footer {
    width: 100%;
    height: 80px;
    position: absolute;
    box-sizing: content-box;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

.disable-ri-01-footer-top {
    width: 240px;
    height: 20px;
    box-sizing: content-box;
    padding: 10px 10px;
}

.disable-ri-01-footer-top span {
    font-size: 12px;
    color: #868686;
    box-sizing: content-box;
}

.number-01 {
    color: #F42424!important;
    font-size: 14px!important;
    box-sizing: content-box;
}


/* mask */

.login-making {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
    display: none;
    box-sizing: content-box;
}

.login-html {
    width: 400px;
    height: 500px;
    background-color: white;
    margin: 100px auto;
    box-sizing: content-box;
}

.login-html-head {
    width: 380px;
    height: 32px;
    padding: 10px;
    text-align: center;
    line-height: 32px;
    box-sizing: content-box;
    background-color: #F3F3F3;
}

.login-html-head span:nth-child(1) {
    font-size: 14px;
    display: inline-block;
    float: left;
    box-sizing: content-box;
}

.close {
    float: right;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    box-sizing: content-box;
}

.login-html-body {
    width: 380px;
    height: 429px;
    padding: 10px;
    box-sizing: content-box;
}

.login-html-body-one {
    width: 330px;
    height: 75px;
    padding: 20px 25px 0px 25px;
    position: relative;
    text-align: center;
    box-sizing: content-box;
}

.login-html-body-one-title {
    width: 180px;
    height: 20px;
    position: absolute;
    box-sizing: content-box;
    color: #ACACAC;
    top: 10px;
    background-color: white;
    left: 98px;
}

.login-html-body-one-title-logo {
    width: 330px;
    height: 40px;
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
}

.login-html-body-one-title-logo-gb {
    width: 36px;
    height: 36px;
    margin: 0 auto;
    box-sizing: content-box;
    background: url(../images/login-icon-qq.png) no-repeat;
}

.login-html-body-one-title-hx {
    width: 330px;
    box-sizing: content-box;
    border-top: 1px dashed #ACACAC;
}

.login-html-body-two {
    width: 330px;
    height: 300px;
    box-sizing: content-box;
    padding: 20px 25px 0px 25px;
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.login-html-body-two-title {
    width: 100px;
    height: 20px;
    box-sizing: content-box;
    position: absolute;
    color: #ACACAC;
    top: 10px;
    background-color: white;
    left: 137px;
}

.login-html-body-two-mai {
    width: 270px;
    height: 250px;
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 30px;
}

.login-html-body-two-mai-item {
    width: 270px;
    height: 30px;
    box-sizing: content-box;
    margin-bottom: 20px;
    position: relative;
}

.item-text {
    height: 30px;
    width: 270px;
    box-sizing: content-box;
}

.item-random {
    width: 120px;
    height: 33px;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: -3px;
    background-color: skyblue;
    color: white;
    text-align: center;
    line-height: 33px;
}

.login-html-body-two-mai-item-01 {
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
    box-sizing: content-box;
}

.login-html-body-two-mai-item-01 input {
    display: none;
    box-sizing: content-box;
}

.login-html-body-two-mai-item-01 label {
    background: url(../images/checkbox.png) no-repeat 0 2px;
    padding-left: 20px;
    text-align: center;
    box-sizing: content-box;
}

.login-html-body-two-mai-item-01 label:hover {
    color: #F42424;
    box-sizing: content-box;
}

.item-btn {
    width: 274px;
    height: 30px;
    background-color: #F42424;
    color: white;
    border: none;
    border-radius: 5px;
    box-sizing: content-box;
}

.lie {
    width: 270px;
    height: 20px;
    text-align: left;
    box-sizing: content-box;
}

.lie a:hover {
    color: #F44142;
    box-sizing: content-box;
}

.lie a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    box-sizing: content-box;
}

.lie a:last-child {
    float: right;
    color: #F44142;
    box-sizing: content-box;
}