.header-main {
    height: 30px;
    background: #eee;
    width: 100%;
    font-size: 12px;
}

.header-right {
    margin: 0 auto;
    width: 1200px;
}

.header-r-t {
    height: 30px;
    line-height: 30px;
    margin-bottom: 1px;
}


/* 头部地址 */

.header-r-t-nav .city {
    width: 72px;
    height: 28px;
    position: relative;
    border: 1px solid #eee;
}

.header-r-t-nav .city .city-top {
    width: 65px;
    height: 28px;
    position: relative;
    line-height: 28px;
    z-index: 24;
    padding: 0 0px 0px 7px;
    color: #555;
}

.header-r-t-nav .city:hover {
    border: 1px solid #ccc;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.header-r-t-nav .city:hover .city-none {
    display: block;
}

.header-r-t-nav .city:hover .city-top {
    border-bottom: 2px solid #fff;
}

.header-r-t-nav .city .city-top i {
    font-size: 20px;
    color: #f42424;
    float: left;
    height: 26px;
    margin-top: 2px;
}

.city-none {
    border: 1px solid #d2d2d2;
    background-color: #fff;
    height: 210px;
    position: absolute;
    top: 28px;
    left: -1px;
    padding: 20px 8px 10px 15px;
    width: 420px;
    display: none;
    z-index: 12;
}

.city-none .city-title a {
    float: left;
    line-height: 20px;
    padding: 0 5px;
    margin-right: 5px;
}

.city-none .city-title a:hover {
    background-color: #f12;
    color: #fff;
}


/* 地址字母 */

.city-zimu {
    margin: 10px 0 0 3px;
    line-height: 20px;
}

.city-zimu a {
    font-size: 14px;
    color: #8c8c8c;
    float: left;
    line-height: 16px;
    padding: 0 3px;
    margin-right: 1px;
    font-weight: 700;
}

.city-zimu a:hover {
    color: #f12;
}

.city-none .scroll {
    overflow: hidden;
    width: 420px;
    height: 150px;
    margin-top: 10px;
    position: relative;
    z-index: 10;
}

.scroll .ul-list {
    float: left;
    height: 150px;
    margin-left: 5px;
    width: 400px;
    position: relative;
}

.scroll .scroll-bar {
    float: left;
    width: 7px;
    height: 150px;
    position: relative;
    background: url(../images/change_city.png) -7px 0 repeat-y;
    margin-left: 5px;
    position: relative;
}

.scroll .scrollimg {
    position: absolute;
    width: 7px;
    height: 30px;
    top: 0px;
    left: 0px;
    background: url(../images/001.png) 0 0 no-repeat;
}


/* ul li */

.ul-list #ul {
    position: absolute;
    top: 0px;
    left: 0px;
}

.ul-list #ul li {
    float: left;
    width: 100%;
    overflow: hidden;
}

.ul-list #ul li em {
    width: 18px;
    height: 18px;
    line-height: 16px;
    border-radius: 50%;
    text-align: center;
    margin: 3px 10px 0 0;
    float: left;
    background-color: #eee;
    color: #8c8c8c;
    font-weight: 700;
}

#ul .itme-city {
    float: left;
    width: calc(100% - 28px);
}

#ul .itme-city a {
    float: left;
    line-height: 20px;
    padding: 0 5px;
    margin: 0 5px 5px 0;
}

#ul .itme-city a:hover {
    background-color: #ccc;
    color: #f12;
}


/* 城市旁边的登录注册 */

.city-r {
    margin-left: 15px;
}

.city-r a {
    color: #8c8c8c;
}

.city-r a:first-child {
    padding-right: 12px;
    color: red;
}


/* nav右边订单 */

.nav-menu .li {
    padding-left: 7px;
    padding-right: 7px;
    float: left;
    position: relative;
    margin: 0px 5px;
}

.nav-menu .bd:after {
    content: "";
    border-left: 1px solid #ccc;
    height: 11px;
    position: absolute;
    top: 10px;
    right: -5px;
}

.nav-menu .bd:hover a {
    color: #e23435;
}

.nav-menu .li a {
    color: #8c8c8c;
    display: block;
}


/* 网站导航 */

.nav-menu .daohang i {
    vertical-align: middle;
}

.nav-menu .daohang {
    height: 28px;
    position: relative;
    margin-right: 0px;
    padding: 0;
}

.nav-menu .daohang .hover {
    padding-left: 7px;
    padding-right: 7px;
    display: block;
    height: 29px;
    position: relative;
    border: 1px solid #eee;
    z-index: 32;
}

.nav-menu .daohang:hover .hover {
    border: 1px solid #d2d2d2;
    background-color: #fff;
    border-bottom: 2px solid #fff;
}

.nav-menu .daohang:hover .theme {
    display: block;
}

.daohang .theme {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 382px;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    display: none;
    padding: 18px 0px;
    z-index: 25;
}

.daohang .theme .lt {
    float: left;
    padding: 0 0 0 30px;
    border-right: 1px solid #efefef;
    width: 85px;
}

.daohang .theme .lt div {
    width: 75px;
    height: 30px;
    float: left;
}

.daohang .theme .lt .tit {
    font-weight: 700;
    color: #666;
}

.daohang .theme .rt {
    width: 225px;
    float: left;
    padding: 0 0 0 30px;
}

.daohang .theme .rt .tit {
    font-weight: 700;
    color: #666;
    width: 100%;
    height: 30px;
}

.daohang .theme .rt a {
    width: 75px;
    height: 30px;
    display: block;
    float: left;
}

.theme a:hover {
    color: #e23435;
}